body {
    background-color: rgb(177, 177, 177);
}
.center {
    text-align: center;
    align-items: center;
}
#colorPicker {
    background-color: none;
    outline: none;
    height: 40px;
    width: 60px;
    cursor: pointer;
}
  